/* ===== BODY CENTER ALIGNMENT ===== */
body {
  margin: 0;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ===== CARD BASE ===== */
.card {
  width: 300px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden; /* image bahar na nikle */
}

/* ===== IMAGE ===== */
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid greenyellow;
  transition: 0.3s ease;
}

.image:hover {
  transform: scale(1.2);
  border: 4px solid white;
}

/* ===== NAME ===== */
.name {
  margin-bottom: 6px;
  transition: all 0.3s ease;
}

/* ===== ROLE ===== */
.role {
  margin-top: 0;
  font-size: 18px;
  color: #7b879d;
}

/* ===== TEXT ===== */
.text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #7b879d;
  text-align: center;
  max-width: 260px;
  margin: 12px 0;
  transition: 0.5s;
}

/* ===== BUTTON ===== */
button {
  background-color: blue;
  color: white;
  font-size: 22px;
  padding: 12px 48px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
}

/* Button hover same rakha */
button:hover {
  background-color: green;
  transform: scale(1.5);
}

/* ===== CARD HOVER EFFECT ===== */
.card:hover {
  transform: translateY(-8px) scale(1.2);
  background: linear-gradient(45deg, green, yellow);
  box-shadow: 10px 10px 120px red;
}

/* Card hover par text color change */
.card:hover .text {
  color: aqua;
  font-weight: bolder;
}

.card:hover .role {
  color: red;
  line-height: 4px;
  margin-top: 5px;
}

.card:hover .name {
  color: white;
  box-shadow: 15px 15px 50px white;
}
